<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="github.tornaco.practice.honeycomb.locker">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".LockerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="comb_module"
            android:value="true" />

        <meta-data
            android:name="bee_icon"
            android:value="ic_lock_fill" />

        <meta-data
            android:name="bee_icon_bg"
            android:value="circle_bg_grey_dark" />

        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="github.tornaco.practice.honeycomb.bee.action.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.verify.VerifyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/AppThemeVerify">
            <intent-filter>
                <action android:name="github.tornaco.practice.honeycomb.locker.action.VERIFY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setup.SetupActivity"
            android:exported="false"
            android:theme="@style/AppThemeVerify" />
        <activity
            android:name=".ui.setup.SettingsActivity"
            android:label="@string/title_settings" />
    </application>

</manifest>